alias please="sudo"
alias sins="sudo apt install"
alias suns="sudo apt remove"
alias supt="sudo apt update"
alias supg="sudo apt upgrade"
alias saut="sudo apt autoremove"
alias gita="git add"
alias gita.="git add ."
alias gitm="git commit -m"
alias gitc="git clone"
alias gitp="git push"
alias gitpp="git pull"
alias gitd="git diff"
alias gits="git status"
alias gitph="git push heroku main"
alias untar="tar -zxvf"
alias untarb="tar -jxvf"
alias open="xdg-open"
