#!/bin/bash

### Aliases Comunes
alias please="sudo"
alias poweroff="systemctl poweroff"
alias reboot="systemctl reboot"
alias sins="sudo zypper in"
alias suns="sudo zypper un"
alias supt="sudo zypper up"
alias supg="sudo zypper ref && sudo zypper up"
alias gita="git add"
alias gita.="git add ."
alias gita,="git add ." # Este es porque soy pendejo y no se escribir
alias gitm="git commit -m"
alias gitc="git clone"
alias gitcc="git checkout"
alias gitp="git push"
alias gitpp="git pull"
alias gitd="git diff"
alias gits="git status"
alias gitph="git push heroku main"
alias gitslc="git shortlog -s -n --all --no-merges"
alias gitreset='git fetch origin && git reset --hard origin/main'
alias gitresetmaster='git fetch origin && git reset --hard origin/master'
alias gitppr="git pull --recurse-submodules"
alias gitrecurse="git submodule update --init --recursive"
alias untar="tar -zxvf"
alias untarb="tar -jxvf"
alias untarx="tar -Jxvf"
alias open="xdg-open"
alias python="python3"
alias cat="bat"
alias nano="micro"
alias r="ranger-cd"
alias cupdate="cargo install-update -a"
alias cil="cargo install --path ." # Cargo Install Local
alias gomodu="go get -u && go mod tidy" # Update go modules
alias gor="go run ."

### From https://github.com/zimfw/exa/blob/master/init.zsh  ::  28/01/22
if (( ${+commands[exa]} )); then
  export EXA_COLORS='da=1;34:gm=1;34'
  
  alias ls='exa --group-directories-first'
  alias ll='ls -l --git'        # Long format, git status
  alias l='ll -a'               # Long format, all files
  alias lr='ll -T'              # Long format, recursive as a tree
  alias lx='ll -sextension'     # Long format, sort by extension
  alias lk='ll -ssize'          # Long format, largest file size last
  alias lt='ll -smodified'      # Long format, newest modification time last
  alias lc='ll -schanged'       # Long format, newest status change (ctime) last
fi
