alias please="sudo"
alias sins="sudo pacman -Syu --needed"
alias suns="sudo pacman -Rns"
alias supt="sudo pacman -Syu"
alias supg="sudo pacman -Syyu"
alias gita="git add"
alias gita.="git add ."
alias gitm="git commit -m"
alias gitc="git clone"
alias gitcc="git checkout"
alias gitp="git push"
alias gitpp="git pull"
alias gitd="git diff"
alias gits="git status"
alias gitph="git push heroku main"
alias untar="tar -zxvf"
alias untarb="tar -jxvf"
alias untarx="tar -Jxvf"
alias open="xdg-open"
alias python="python3"
