# Ignore Everything
/*

!.gitignore

# Except:
!zsh.md
!.config
!disable-smt-cloud.sh
!github
!.aliases
!.funciones
!.login_path
!.flags
!README.md
!.profile
!.env
!.cargo
!install.sh

.local/**
!.local
!.local/share
!.local/share/applications
!.local/share/applications/Postman.desktop

