# Ignore Everything
/*

!.gitignore
!.gitmodules

# Except:
!.cargo
!.config
!github
!.aliases
!.env
!.funciones
!.login_path
!.profile
!chrome_install.sh
!disable-smt-cloud.sh
!godot.sh
!install.sh
!README.md
