#!/bin/bash

# environment variables

## Para gtk
export QT_QPA_PLATFORMTHEME=gtk2

## Para usar nano
export VISUAL=nano
export EDITOR=nano

# anadir home bin
if [ -d "$HOME/bin" ] ; then
    export PATH="$HOME/bin:$PATH"
else
    mkdir $HOME/bin
    export PATH="$HOME/bin:$PATH"
fi

# anadir dotnet/tools al PATH (.NET)
if [ -d "$HOME/.dotnet/tools" ]; then
    export PATH="$HOME/.dotnet/tools:$PATH"
fi

# Desactivar telemetria dotnet
which dotnet && export DOTNET_CLI_TELEMETRY_OPTOUT=1

# archivo original de /etc/X11/xinit/xinitrx
# recordad cambiar permisos, dueno y grupo (chmod, chown, chgrp)

# Tipo de teclado
# setxkbmap es & # Español

# nvidia driver tearing
nvidia-settings --assign CurrentMetaMode="nvidia-auto-select +0+0 { ForceCompositionPipeline = On }" &

# wallpaper
feh --bg-scale $HOME/.wallpaper.jpg

# transparencia
picom &

# montar discos
udiskie -s &

# network manager systray
nm-applet &

# icono bateria
# cbatticon &

# screenshots
flameshot &

# numlock
# numlockx &

# volume icon
# volumeicon &
# kmix &

# para ver el calendario
firefox &
