[Desktop Entry]
Encoding=UTF-8
Name=Postman
Exec=/home/ctronp/opt/Postman/app/Postman %u
Icon=/home/ctronp/opt/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
